
header {
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 20px;
    margin-top:20px;
    position: sticky;
}

#container {
    margin: 50px 100px 10px 100px;
    background-color: grey;
}

.search-box {
    align-self: center;
}

input {
    width: 50vw;
    height: 20px;
}

#main-video {
    position: fixed;
}

aside{
    float: right;
    width:40vw;
}

.video-thumbnail {
    display: flex;
    justify-content: flex-start;
}

.recommend-video {
    margin: 20px 10px 0 20px;
}